/*
	TEMP and WIP
	Color Scheme:
		light gray #eee;
		green #34d96e;
		green 2 #3dff7e;
		dirty snow #cbd0a7;
		dirty snow 2 #a1c4a6;
		blue #8aceff;
		light blue #ededff;
*/
p {
	margin: 0;
	padding: 0;
}

body {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    /*width: 100vw;
    height: 100vh;*/
}

.controls {
    flex: 1 1 200px;
	overflow: auto;
    padding: 10px;
    background: white;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    height: -webkit-min-content;
}
.controls ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.controls ul .template {
    display: none;
}
.controls .function {
    display: flex;
    align-items: center;
    padding: 5px;
    transition: background 0.5s;
}
.controls .function:not(.current):hover {
    background: #eee;
}
.controls .function p {
    display: inline-block;
    padding: 5px 10px;
    font-size: 30px;
    cursor: pointer;
}
.controls .function .editor {
    outline: none;
}
.controls .function.current p {
    border: 1px solid #8aceff;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px #8aceff;
}
.controls .function .options {
    font-size: 15px;
    margin: 0;
    margin-left: auto;
    width: 100px;
    height: 1em;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls .function .options .color-input {
    border: none;
    background: transparent;
}

.controls .function .options * {
    cursor: pointer;
}
.controls .add {
    height: 2em;
	text-align: center;
    transition: background 0.5s;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	cursor: pointer;
}
.controls .add i {
    line-height: 2em;
}
.controls .add:hover {
    background: #eee;
}
.hidden {
    margin: 0;
    padding: 0;
}
.controls .edit {
    display: none;
}
.controls .edit .button {
    padding: 10px 20px;
    margin: 5px;
    color: white;
    font-size: 20px;
    text-align: center;
    width: auto;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}
.controls .edit .button.go {
    float: right;
    background: #34d96e;
}
.controls .edit .button.go:hover {
    background: #3dff7e;
}
.controls .edit .button.slide {
    float: left;
    background: #a1c4a6;
    font-size: initial;
    width: 100px;
}
.controls .edit .button.slide:hover {
    background: #cbd0a7;
}
.gallery-item {
    float: left;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

.clearfix:after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    clear: both;
}
canvas#graph {
    flex: 3 1 600px;
    align-self: stretch;
    position: relative;
}

